DB_HOST=CHANGE_ME
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DB_NAME=CHANGE_ME
DB_PORT=3306
JWT_SECRET=CHANGE_ME
JWT_EXPIRE=86400
COOKIE_SECRET=CHANGE_ME
PORT=8080
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:4200
